<p>example10 works!</p>
<div class="sample">
    <fam-diagram 
        [items]="items"
        [pageFitMode]=PageFitMode.AutoSize
        [neighboursSelectionMode]=NeighboursSelectionMode.ParentsChildrenSiblingsAndSpouses
        [normalLevelShift]=20
        [dotLevelShift]=20
        [lineLevelShift]=10
        [normalItemsInterval]=10
        [annotations]="annotations"
        [dotItemsInterval]=10
        [lineItemsInterval]=4
        [defaultTemplateName]="'ContactTemplate'"
        [cursorItem]=0
        [hasSelectorCheckbox]=Enabled.True
        [centerOnCursor]=true>
    </fam-diagram>
</div>